{% extends 'base.html.twig' %}

{% block title %}{{ controllerName }}{% endblock %}

{% block body %}
    <div class="container with-header">
        <div class="row">
            <div class="col-lg-7 d-flex align-items-center">
                <div>
                    <h2 class="text-uppercase line-height-large fs-40 font-weight-light">Radka<br>Ingrštová</h2>
                    <p>Mou velikou celoživotní zálibou je vytváření příjemného prostředí kolem nás.
                        Dokonalou inspirací a vzorem je mi příroda, hlavní zdroj mé tvorby a obdivu jejího jedinéčného Tvůrce.
                    </p>
                    <p>
                        Mám ráda čisté linie, jednoduchost, řád i pravidelnost. Každodenní zázraky kolem nás, užásné
                        a nenapodobitelné okamžiky. Obyčejná kůra stromu, žilky kamene, popraskaná zem, trsy trávy,
                        západ slunce, vlákna pavučin, suché větve jsou jen slabým výčtem pravdivých úkazů toku života.
                        A s ním související bytosti, my lidé, chybující a stále poznávající.
                    </p>
                    <p>Láska X Nenávist, Radost X Bolest, Žena X Muž.</p>
                    <p>Prolínání surové skutečnosti s pomíjivou krásou.</p>
                    <p>Tvořím a snažím se zpracovat své vjemy i pocity do svých výtvorů.</p>
                    <p>A nepřestávám žasnout.</p>
                    <p>Umění je všude kolem nás!</p>
                    <p>ŽIVOT JE DAR</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="m-lg-3 my-2 about-picture" style="background-image: url('images/jpg/atelier_1.jpg');"></div>
                <div class="m-lg-3 my-2 about-picture" style="background-image: url('images/jpg/atelier_2.jpg');"></div>
            </div>
        </div>
    </div>
{% endblock %}
