{% extends 'base.html.twig' %}

{% block title %}{{ controllerName }}{% endblock %}

{% block body %}

    <div class="container-fluid with-header pb-5">
        <div class="mx-auto painting-detail mb-5" style="background-image: url({{ vich_uploader_asset(paint, 'imageFile') }});">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="font-weight-light">
                        <div class="row">
                            <div class="col-sm-8"><h2 class="pb-3">{{ paint.name }}</h2></div>
                            <div class="col-sm-4"><h3
                                        class="font-weight-light text-sm-right">{{ price|number_format(0, ',', ' ') }}
                                    Kč</h3></div>
                        </div>
                        <div>Rozměr: {{ dimensions }}</div>
                        <div>Materiál: {{ material }}</div>
                        <div>Technika: {{ technique }}</div>
                    </div>
                    <div class="d-flex justify-content-center pt-5">
                        <a class="btn grey-outline-btn" href="{{ path("homepage") }}">DALŠÍ DÍLA
                            ({{ remainingPaintings }})</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
