{% extends 'base.html.twig' %}

{% block title %}{{ controllerName }}{% endblock %}

{% block body %}
    <div class="container-fluid with-header">
        <div class="row">
            <div class="col-lg-5 col-sm-8 offset-sm-2">
                <ul class="nav d-block pb-5" id="myTab">
                    <li class="nav-item py-2">
                        <a class="fs-sm-40 text-dark active font-weight-light text-uppercase my-nav-item" id="home-tab"
                           data-toggle="tab" href="#home" role="tab">malba obrazů</a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="fs-sm-40 text-dark font-weight-light text-uppercase my-nav-item" id="profile-tab"
                           data-toggle="tab" href="#profile" role="tab">malba obrazů dle vašeho přání</a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="fs-sm-40 text-dark font-weight-light text-uppercase my-nav-item" id="contact-tab"
                           data-toggle="tab" href="#contact" role="tab">interiérová konzultace</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel">
                        <h3 class="font-weight-light text-uppercase">malba obrazů</h3>
                        Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Consectetur corporis earum eligendi facere fuga id impedit incidunt inventore
                        itaque laborum libero natus nemo nihil possimus quod recusandae sunt, velit veniam.
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel">
                        <h3 class="font-weight-light text-uppercase">malba obrazů dle vašeho přání</h3>
                        Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Accusantium alias blanditiis cupiditate deleniti, dicta esse exercitationem
                        harum
                        hic iste itaque iusto magnam, nihil perspiciatis quas quibusdam rem repudiandae tempora vel?
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel">
                        <h3 class="font-weight-light text-uppercase">interiérová konzultace</h3>
                        Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Alias consequatur corporis eos et in inventore modi nam necessitatibus quam
                        quas
                        quisquam sit tempore velit, voluptate voluptatum. Aperiam deleniti magnam maiores!
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
