{% extends 'base.html.twig' %}

{% block title %}{{ controllerName }}{% endblock %}

{% block body %}
    <div class="position-relative overflow-hidden">
        <div class="lead-background" style="background-image: url('images/jpg/uvod.jpg');">
        </div>
        <div class="container-fluid position-absolute" style="top: 35%">
        <div class="row">
            <div class="col-9 offset-1 d-flex justify-content-between">
                <h1 class="lead-heading">Potěšení pro Vaše <br>
                    smysly a bydlení</h1>
                <div class="d-flex align-items-center">
                    <a class="btn grey-outline-btn d-lg-flex d-none align-items-center scroll-a" href="#paintings">DÍLA
                        <img
                                class="pl-3" src="images/svg/arrow_down.svg" alt="arrow"></a>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container-fluid d-flex d-lg-none justify-content-center my-5">
        <a class="btn grey-outline-btn align-items-center scroll-a" href="#paintings">
            DÍLA <img class="pl-3" src="images/svg/arrow_down.svg" alt="arrow">
        </a>
    </div>
    <div class="container-fluid pt-5" id="paintings">
        <div class="row">
            {% for paint in paintings %}
            <div class="painting-box col-md-5{% if (loop.index % 2 == 0) %} offset-md-2{% else %} justify-content-end{% endif %}" {% if (loop.index > 10) %} style="display: none"{% endif %}>
                <div class="content-box">
                    <a href="detail/{{ paint.id }}"><img class="painting-thumbnail position-relative" src="{{ vich_uploader_asset(paint, 'imageFile') }}" alt="4"></a>
                    <a href="detail/{{ paint.id }}" class="painting-title">{{ paint.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center pb-5">
            <a class="btn grey-outline-btn" id="nextPaintings" href="#next">DALŠÍ DÍLA (<span id="nextPaintingsCount"></span>)</a>
        </div>
    </div>
{% endblock %}
