<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RI|Admin</title>
    <link rel="stylesheet" href="/dist/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

</head>
<body class="position-relative">
<div class="bg-login" style="background-image: url('./images/admin_bg.svg');"></div>
<section id="wrapper" class="loginpage">
    <div class="container">
        <div class="d-flex justify-content-center">
            <img class="logo-webfix" src="/images/Logo_wwwebfix.svg" alt="webfix">
        </div>
        <div class="col-lg-4 col-md-offset-4 col-xs-offset-1 col-xs-10">
            <div class="row">
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            <div class="{{ type }}">
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                            <div class="alert alert-success alert-dismissible {{ type }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span>
                                </button>
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="text-center">
                <h2 class="text-uppercase text-white">Přihlášení</h2>
            </div>
            <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}
                <div class="form-group">
                    <div class="col-xs-12 login-input">
                        <input placeholder="Uživatelské jméno"
                               class="form-control" type="text" id="username" name="_username"
                               value="{{ last_username }}" required="required" autocomplete="username"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 login-input">
                        <input
                                class="form-control" placeholder="Heslo" type="password" id="password" name="_password"
                                required="required"
                                autocomplete="current-password"/>
                    </div>
                </div>

                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button class="btn btn-light border-white rounded-0 volno btn-lg btn-block text-uppercase waves-effect waves-light"
                                type="submit">přihlásit
                        </button>
                    </div>
                </div>


                <div class="form-group m-t-30 m-b-0">
                    <div class="col-sm-12 text-center fs-12 text-white">
                        Tvoříme weby s radostí
                    </div>
                    <div class="col-sm-12 text-center fs-12 text-light">
                        <a class="text-light-gray" href="http://webfix.cz" target="_blank">webfix.cz</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>
