<div class="position-absolute container-fluid w-100 header">
    <div class="row">
        <div class="col-10 offset-1 d-flex justify-content-between">
            <a class="d-block logo" href="{{ path('homepage') }}"><img class="img-fluid" src="/images/svg/RI_logo.svg" alt="logo"></a>
            <div class="d-block menu-btn ml-4 align-self-center"><img class="img-fluid" src="/images/svg/menu.svg" alt="menu"></div>
        </div>
    </div>
</div>
