<nav id="menu" class="menu collapsed shadow">
    <div class="d-inline-block menu-btn menu-btn-close"><img class="img-fluid" src="/images/svg/menu-open.svg" alt="menu"></div>
    <div class="menu-main d-flex flex-column">
        <a href="{{ path("about") }}">O MNĚ</a>
        <a href="{{ path("homepage") }}">DÍLA</a>
        <a href="{{ path("contact") }}">KONTAKT</a>
    </div>
</nav>
