.webfix-footer{
  background-color: #F1F1F1;
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  bottom: 0;
}

.with-footer{
  min-height: 100vh;
  position: relative;
  padding-bottom: 150px;
}
.border-footer-logo{
  border-radius: 17px;
}
