.with-header {
  padding-top: 180px;
}

.logo{
  max-width: 300px;
  min-width: 100px;
  width: 15%;
}

.menu-btn{
  width: 7%;
  min-width: 42px;
}

.menu-btn-close{
  width: 22%;
}

.header {
  top: 37px;
  z-index: 1000;
}

@include media-breakpoint-down(sm){
  .header{
    top: 20px;
  }
  .with-header{
    padding-top: 130px;
  }
  .menu-btn-close{
    width: 7%;
  }
}
