.lead-background {
  height: 58vw;
  width: 58%;
  background-size: contain;
  background-repeat: no-repeat
}

.lead-heading {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.5;
}

@include media-breakpoint-down(md){
  .lead-background {
    width: 116%;
    height: 116vw;
  }
}

@include media-breakpoint-down(xs){
  .lead-heading{
    font-size: 20px;
    line-height: 1.5;
  }
}
