@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

$font-family-base: 'Comfortaa', sans-serif;

@import "~bootstrap/scss/bootstrap";
@import "paintings";
@import "buttons";
@import "header";
@import "homepage";
@import "menu";
@import "textFormating";
@import "footer";

