.menu{
  transition: 0.8s;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  width: 50%;
  background: #FFF;
  z-index: 1001;
  padding: 0 10%;
  &.collapsed{
    right: -50%;
  }
  .menu-btn{
    margin: 60px 0 120px 0;
  }
  .menu-main{
    a{
      font-size: 40px;
      color: #000;
      margin: 10px 0;

      &:hover{
        text-decoration: line-through;
      }
    }
  }
}
@include media-breakpoint-down(sm){
  .menu{
    width: 100%;
    &.collapsed{
      right: -100%;
    }
  }
}
