.line-height-large{
  line-height: 1.75;
}
.fs-40{
  font-size: 40px;
}
.my-nav-item{
  &:hover{
    text-decoration: line-through;
  }
  &.active{
    text-decoration: line-through;
  }
}
.fs-sm-40{
  font-size: 40px;
}

@include media-breakpoint-down(sm){
  .fs-sm-40{
    font-size: 25px;
  }
}
